/* Montserrat Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Melow Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
:root {
 font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
 line-height: 1.2;
 @apply font-melow;
}

p{
  line-height: 1.3;
}
.website p{
    color:#3e3e3e;
    @apply text-[13px] leading-[1.5];
}

@import "tailwindcss";


@theme{
  /* --color-primary: oklch(74% 0.238 322.16); */
  --color-primary: #A21D84;
  --color-secondary: #e5e5e5;
  --color-webText:#3b3b3b;
  --color-primaryText:#B09CB0;

  /* Fonts */
  --font-melow:"Merienda", cursive;;
  --font-monst: "Montserrat", sans-serif;

  /* BreakPoints */
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1536px;
    --breakpoint-4xl: 1920px;
    --breakpoint-6xl: 2836px;
}

   h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        @apply  leading-[1.2];
    }

@layer components{
  .container {
    @apply px-3 w-full max-w-[100%] sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1300px] 2xl:max-w-[1366px] 4xl:max-w-[1600px] mx-auto;
  }
  .btn{
    @apply rounded-[8px] py-[10px]  px-[30px] transition-all duration-400 ease-in-out text-[14px] font-[500] flex items-center justify-center gap-2 cursor-pointer
  }
  .btn .icon{
    @apply text-[20px] text-black  transition-all duration-400 ease-in-out;
  }
  .btn:hover .icon{
    @apply  text-white 
  }
  .btn-primary{
    @apply bg-white text-black hover:bg-fuchsia-400 hover:text-white;
  }
  .btn-secondary{
    @apply bg-fuchsia-400 text-white hover:bg-white border-1 border-solid hover:border-black hover:text-black;
  }
  .btn-secondary .icon{
    @apply text-white;
  }
  .btn-secondary:hover .icon{
    @apply text-black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}



